body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Navbar'ı göreceli konuma ayarla */
}

.icon img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.menu img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.level {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Yatayda ve dikeyde %50 alana kaydır */
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
}

.level p {
    font-size: 16px;
    margin: 0;
    color: black;
}

.level span {
    font-weight: bold;
}

.news {
    padding: 20px;
    text-align: center; /* Haberleri ortala */
}

.news-item {
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Haberlerin maksimum genişliği */
    margin-left: auto; /* Haberleri sağa yasla */
    margin-right: auto; /* Haberleri sola yasla */
}

.news-item img {
    display: block;
    margin: 0 auto 10px; /* Haber resimlerini ortala */
    max-width: 100%;
    height: auto;
}

.news-item h3 {
    margin-bottom: 5px;
}

.news-item p {
    margin-bottom: 0;
}

/* Footer */
.footer {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999; /* Diğer içeriklerin üzerinde görünmesini sağlar */
}

.footer a {
    display: inline-block;
}

.footer img {
    width: 30px;
    height: 30px;
    margin: 0 10px; /* İkonlar arasında boşluk bırak */
}
